# created by virtualenv automatically
venv/
.idea/
.vscode/
authentication/migrations
authentication/__pycache__/
api_gateway/__pycache__/
project_management/__pycache__/
project_management/migrations